<div align = "center">
  <h1> List of Vegetables </h1>

  <div class="col-sm-7">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Jenis</th>
        <th>Jumlah</th>
      </tr>
      </thead>
      <% @vegetable.each do |vegetable| %>
        <tr>
          <td> <%= vegetable.jenis %> </td>
          <td> <%= vegetable.jumlah %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
