<div align="center">
  <h1>List of Transaction</h1>

  <div class="col-sm-8">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <% if admin? %>
              <th>Nama Penjual</th>
          <% end %>
          <th>Nama Pembeli</th>
          <th>Jenis Sayuran</th>
          <th>Jumlah</th>
        </tr>
      </thead>
      <% @transaction.order('"transactions"."user_id"').each do |f| %>
        <tr>
          <% if admin? %>
            <td><%= f.user.username %></td>
          <% end %>
          <td><%= f.buyer.nama %></td>
          <td><%= f.vegetable.jenis %></td>
          <td><%= f.jumlahtransaksi %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

