<h1>List of Transaction</h1>

<table>
  <tr>
    <th>Nama Pembeli</th>
    <th>Jenis Sayuran</th>
    <th>Jumlah</th>
  </tr>
  <% @transaction.each do |f| %>
    <tr>
      <td><%= f.buyer.nama %></td>
      <td><%= f.vegetable.jenis %></td>
      <td><%= f.jumlahtransaksi %></td>
    </tr>
  <% end %>
</table>